﻿@{
    ViewData["Title"] = "AddClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Client Profile</h1>*@
<div class="card">
    @*    <div class="card-header">
    <h5 class="card-title">Form validation</h5>
    </div>*@

    <div class="card-body">
        @*<p class="mb-4">Validate.js makes simple clientside form validation easy, whilst still offering plenty of customization options. The plugin comes bundled with a useful set of validation methods, including URL and email validation, while providing an API to write your own methods. All bundled methods come with default error messages in english and translations into 37 other languages. <strong>Note:</strong> <code>success</code> callback is configured for demo purposes only and can be removed in validation setup.</p>*@


        <fieldset class="mb-3">
            <legend class="text-uppercase font-size-sm font-weight-bold border-bottom">Client Profile</legend>

            <!-- Full Name text input -->
            <div class="form-group row">
                <label class="col-form-label col-lg-3">Full Name <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <input type="text" id="txtFullName" name="basic" class="form-control" required placeholder="Text input validation">
                </div>
            </div>
            <!-- /Full Name text input -->
            <!-- Minimum characters -->
            <div class="form-group row">
                <label class="col-form-label col-lg-3">Age <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <input type="text" id="txtAge" name="minimum_characters" class="form-control" required placeholder="Enter at least 3 characters">
                </div>
            </div>
            <!-- /minimum characters -->
            <!-- Numbers only -->
            <div class="form-group row">
                <label class="col-form-label col-lg-3">Mobile Number<span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <input type="text" id="txtMobile" name="numbers" class="form-control" required placeholder="Enter decimal number only">
                </div>
            </div>
            <!-- /numbers only -->
            <!-- Email field -->
            <div class="form-group row">
                <label class="col-form-label col-lg-3">Email field <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <input type="email" id="txtEmail" name="email" class="form-control" id="email" required placeholder="Enter a valid email address">
                </div>
            </div>
            <!-- /email field -->
            <!-- Basic textarea -->
            <div class="form-group row">
                <label class="col-form-label col-lg-3">Address <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <textarea rows="5" cols="5" id="txtAddress" name="textarea" class="form-control" required placeholder="Default textarea"></textarea>
                </div>
            </div>

            <!-- Diagnosis textarea -->
            <div class="form-group row">
                <label class="col-form-label col-lg-3">Diagnosis <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <textarea rows="5" id="txtDiagnosis" cols="5" name="textarea" class="form-control" required placeholder="Default textarea"></textarea>
                </div>
            </div>

        </fieldset>
        <!-- /Diagnosis textarea -->
        <!-- /basic textarea -->
        <div class="d-flex justify-content-end align-items-center">
            <button type="reset" class="btn btn-light" id="reset">Reset <i class="icon-reload-alt ml-2"></i></button>
            <button type="button" class="btn btn-primary ml-3" id="btnSubmit">Submit <i class="icon-paperplane ml-2"></i></button>
        </div>
    </div>
</div>
<!-- /form validation -->
<script type="text/javascript">



    $('#btnSubmit').click(function(event) {
        var Client = {
            FullName: $('#txtFullName').val(),
            Age: $('#txtAge').val(),
            EmailAddress: $('#txtEmail').val(), MobileNo: $('#txtMobile').val(),
            vAddress: $('#txtAddress').val(),
            Diagnosis: $('#txtDiagnosis').val()
        };
        var strJson = JSON.stringify(Client);

        $.ajax({
            type: "POST",
            url: '/Client/SaveClient',
            data: strJson,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function() {
                // alert("Data has been added successfully.");
            },
            error: function() {
                alert("Error while inserting data");
            }
        });

    });

</script>