﻿
@{
    ViewData["Title"] = "AddServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Add Services</h1>*@
<div class="card">
@*    <div class="card-header">
        <h5 class="card-title">Form validation</h5>
    </div>*@

    <div class="card-body">
        @*<p class="mb-4">Validate.js makes simple clientside form validation easy, whilst still offering plenty of customization options. The plugin comes bundled with a useful set of validation methods, including URL and email validation, while providing an API to write your own methods. All bundled methods come with default error messages in english and translations into 37 other languages. <strong>Note:</strong> <code>success</code> callback is configured for demo purposes only and can be removed in validation setup.</p>*@

        <form class="form-validate-jquery" action="#">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold border-bottom">Services</legend>

                <!-- Full Name text input -->
                <div class="form-group row">
                    <label class="col-form-label col-lg-3">Service Name <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <input type="text" id="txtFullName" name="basic" class="form-control" required placeholder="Text input validation">
                    </div>
                </div>
                <!-- /Full Name text input -->
                

            </fieldset>
            <!-- /Diagnosis textarea -->
            <!-- /basic textarea -->
            <div class="d-flex justify-content-end align-items-center">
                <button type="reset" class="btn btn-light" id="reset">Reset <i class="icon-reload-alt ml-2"></i></button>
                <button type="submit" class="btn btn-primary ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
            </div>
        </form>
    </div>
</div>

