﻿@{
    ViewData["Title"] = "BookAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <form class="form-validate-jquery" action="#">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold border-bottom">Book Appointment</legend>

                <!-- Consultant -->
                <div class="form-group row">
                    <label class="col-form-label col-lg-3">Consultant <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <select name="default_select" class="form-control" required>
                            <option value="">Choose an option</option>
                            <optgroup label="Alaskan/Hawaiian Time Zone">
                                <option value="AK">Consultant1</option>
                            </optgroup>
                            <option value="AZ">Consultant2</option>
                            <option value="AL">Consultant3</option>
                        </select>
                    </div>
                </div>
                <!-- /Consultant -->
                <!-- Client -->
                <div class="form-group row">
                    <label class="col-form-label col-lg-3">Client <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <select name="default_select" class="form-control" required>
                            <option value="">Choose an option</option>
                            <optgroup label="Alaskan/Hawaiian Time Zone">
                                <option value="AK">Client1</option>
                            </optgroup>
                            <option value="AZ">Client2</option>
                            <option value="AL">Client3</option>
                        </select>
                    </div>
                </div>
                <!-- /Client -->
                <!-- Service -->
                <div class="form-group row">
                    <label class="col-form-label col-lg-3">Service <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <select name="default_select" class="form-control" required>
                            <option value="">Choose an option</option>
                            <optgroup label="Alaskan/Hawaiian Time Zone">
                                <option value="AK">Service1</option>
                            </optgroup>
                            <option value="AZ">Service2</option>
                            <option value="AL">Service3</option>
                        </select>
                    </div>
                </div>
                <!-- /Service-->
                <!-- Full Name text input -->
                <div class="form-group row">
                    <label class="col-form-label col-lg-3">Appointment Date & Time <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <input type="text" id="txtFullName" name="basic" class="form-control" required placeholder="Text input validation">
                    </div>
                </div>
                <!-- /Full Name text input -->


            </fieldset>
            <!-- /Diagnosis textarea -->
            <!-- /basic textarea -->
            <div class="d-flex justify-content-end align-items-center">
                <button type="reset" class="btn btn-light" id="reset">Reset <i class="icon-reload-alt ml-2"></i></button>
                <button type="submit" class="btn btn-primary ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
            </div>
        </form>
    </div>
</div>

