﻿<footer class="footer" >

    <!-- Footer Bottom -->
   

       

            <!-- Copyright -->
            <div class="col-xs-12 align-content-center text-center mb-4">

                <div class="">
                    <p> 16598 N Dale Mabry Hwy, Tampa, FL 33618, United States</p>
                </div>
                <div class="header-contact-detail">

                    <p class="contact-header far fa-hospital">Contact +1 813-252-2375</p>
                </div>
            </div>
            <!-- /Copyright -->


      
        <!-- /Footer Bottom -->
    
</footer>