﻿<header class="header">
    <div class="header" >



        @*<div class="col-xs-12 align-content-center text-center mb-4">
            <div class="col">
                <h2 style="color: #15558d;">Sunshine Medical Associates</h2>
                <h6 style="color: #15558d;">Advancing Medicine. Touching Lives.</h6>
            </div>
        </div>*@
        <div class="row text-center">
            <div class="col">
                <div class="row d-inline-flex align-items-center">
                    <div class="">
                        <img src="~/Content/img/orig-logo-on-transparent.png" class="img-fluid" style="max-width: 70px;" alt="Logo" />
                    </div>
                    <div class="pl-2">
                        <div class="s-logo" style="color: #15558d;font-size: 2rem;font-weight: bold;">Sunshine Medicine Associates</div>
                        <div style="color: #15558d;font-size: 1rem;font-weight: normal;">Advancing Medicine. Touching Lives.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>