﻿
.timingGroup {
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    color: #757575;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
 
    text-align: center;
    position: relative;
}

    .timingGroup label {
        padding: 8px 35px;
        width: 100%;
        width: 100%;
        display: block;
        text-align: left;
        color: #3c454c;
        cursor: pointer;
        position: relative;
        z-index: 2;
        -webkit-transition: color 200ms ease-in;
        transition: color 200ms ease-in;
        overflow: hidden;
        margin-bottom: 0rem;
    }

        .timingGroup label:before {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: "";
            background-color: #42c0fb;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
            -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
            opacity: 0;
            z-index: -1;
        }

        .timingGroup label:after {
            width: 23px;
            height: 23px;
            display:none;
            content: "";
            border: 2px solid #d1d7dc;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
            background-repeat: no-repeat;
            background-position: -2px -1px;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            right: 10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            cursor: pointer;
            -webkit-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
        }

    .timingGroup input:checked ~ label {
        background-color: #42c0fb;
        border: 1px solid #42c0fb;
        display:block;
        color: #fff;
        border-radius: 3px;
    }

        .timingGroup input:checked ~ label:before {
            -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
            transform: translate(-50%, -50%) scale3d(56, 56, 1);
            opacity: 1;
        }

        .timingGroup input:checked ~ label:after {
            background-color: #42c0fb;
            display: block;
            border-color: #42c0fb;
        }

    .timingGroup input {
        width: 25px;
        height: 25px;
        -webkit-box-ordinal-group: 2;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
    }
.pointer{
    cursor:pointer;
}

.appointment-btn{
    height:46px;
}
